Thumbs.db
.gitHash
*.exe
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
Data/*
Database/
Databases/
SitecoreKuehlhaus.Website/layouts/
Data/*
.DS_Store
.idea/
.vs/
.vscode/

packages/
bin
obj
packages
.vs
