<?xml version="1.0" encoding="utf-8"?>
<aIServicesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.2.8400.0">
	<AIServices>
		<add ApiKey="[sf-scrt-rslvr=Encrypt]Tw4gwdh/h6RuQ0iTD4HV6TCrEUvMNWlwQ51HKSpuPpZBZXNXaXRoSG1hY4vJC8qjMDXLwuD43BKC+RFrLY/3fVjSapOwqAZVBPoU" name="AzureCompletionsOpenAIClient" config:flags="1" />
	</AIServices>
</aIServicesConfig>