<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.2.8400.0">
	<connectionStrings>
		<add connectionString="Server=(local);Initial Catalog=Sitefinity;User ID=sa;Password=brimit123!@#;MultipleActiveResultSets=True;Encrypt=False;Connection Timeout=30;" dbType="MsSql" name="Sitefinity" />
	</connectionStrings>
</dataConfig>