<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="15.2.8400.0">
	<connectionStrings>
		<add connectionString="Server=tcp:sitefinityserver.database.windows.net,1433;Initial Catalog=SitefinityDatabase2;Persist Security Info=False;User ID=IlyaMaisiuk;Password=Qetuo132;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" dbType="SqlAzure" name="Sitefinity" />
	</connectionStrings>
</dataConfig>